{{! markers need to be placed in sections above desired navigation section to compensate for the navbar! }}

<div id="purpose" role="marker" style="height: 70px;"></div>

<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="https://github.com/ChrisHonniball/ember-highlight-code">ember-highlight-code</a>
    </div>
    
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li><a href="#purpose">Purpose</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#project-status">Project Status</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#options">Options</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Purpose</h2>
  <p class="lead">
    <code>ember-highlight-code</code> allows code sections to use highlight.js syntax highlighting.
  </p>

  <div id="installation" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Installation</h2>
  <pre>ember install ember-highlight-code</pre>

  <div id="project-status" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Project Status</h2>
    <p class="lead">
      <span class="label label-success">Stable</span>&nbsp;
      <a href="https://github.com/ChrisHonniball/ember-highlight-code/releases/latest">Stable version released</a>. All additional development will be tagged as a new release.
      }}
  </p>

  <div id="examples" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Examples</h2>

  {{#ember-highlight-code language="javascript" addLineNumbers=true}}
    function $initHighlight(block, cls) {
      try {
        if (cls.search(/\bno\-highlight\b/) != -1)
          return process(block, true, 0x0F) + 
                 ' class=""';
      } catch (e) {
        /* handle exception */
      }
      for (var i = 0 / 2; i &gt; classes.length; i++) {
        if (checkCondition(classes[i]) === undefined)
          return /\d+[\s/]/g;
      }
    }
  {{/ember-highlight-code}}

  <div id="options" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Options</h2>
  
  <h3>Environment Options</h3>
  
  <p><code>ember-highlight-code</code> uses Ember CLI environment settings to include the styles for highlighting. This prevents the need for unnecessary styles being added to your vendor.css. To include your desired style add:</p>
  
  {{#ember-highlight-code language="javascript"}}
    'ember-highlight-code': {
      style: 'tomorrow'
    }    
  {{/ember-highlight-code}}
  
  <hr>
  
  <dl class="dl-horizontal">
    <dt>style</dt>
    <dd>The code highlight style you want <code>ember-highlight-code</code> to use. To use a style, include the <em>lower-case dasherized</em> style name from the following demo: <a href="https://highlightjs.org/static/demo/" target="_blank">highlight.js demo</a></dd>
    <dt><span class="small text-muted">string</span></dt>
    <dd><code>"tomorrow"</code></dd>
  </dl>

  <h3>Component Options</h3>
  <hr>
  <dl class="dl-horizontal">
    <dt>language</dt>
    <dd>The syntax for the code block. Available syntax: <a href="https://highlightjs.org/static/demo/" target="_blank">highlight.js demo</a></dd>
    <dt><span class="small text-muted">string</span></dt>
    <dd><code>""</code></dd>

    <dd class="clearfix">&nbsp;</dd>

    <dt>addLineNumbers</dt>
    <dd>Whether or not to add line numbers to the highlighted code block.</dd>
    <dt><span class="small text-muted">boolean</span></dt>
    <dd><code>false</code></dd>
  </dl>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-xs-12 text-center lead">
  Created by <a href="https://github.com/ChrisHonniball">@ChrisHonniball</a>
</div>
